In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [3]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1377,tt0376105,30000000,93772522,Racing Stripes,Frankie Muniz|Mandy Moore|Hayden Panettiere|Br...,Frederik Du Chau,Cheer 'til you're horse!,Shattered illusions are hard to repair -- espe...,102,Comedy,Alcon Entertainment,1/6/2005,5.1,2005
1608,tt0330793,33000000,54700105,The Punisher,Thomas Jane|John Travolta|Will Patton|Roy Sche...,Jonathan Hensleigh,"There is no justice, there is only revenge.",When undercover FBI agent Frank Castle's wife ...,124,Action|Crime|Drama,Lions Gate Films|VIP 3 Medienfonds|Valhalla Mo...,4/15/2004,6.0,2004
995,tt1397280,45000000,376141306,Taken 2,Liam Neeson|Maggie Grace|Famke Janssen|Rade Se...,Olivier Megaton,First they took his daughter. Now they're comi...,"In Istanbul, retired CIA operative Bryan Mills...",91,Action|Thriller|Crime|Drama,Twentieth Century Fox Film Corporation|M6 Film...,9/27/2012,6.0,2012
1427,tt0294870,40000000,31670620,Rent,Anthony Rapp|Adam Pascal|Rosario Dawson|Jesse ...,Chris Columbus,No day but today.,This rock opera tells the story of one year in...,135,Comedy|Drama|Music|Romance,Columbia Pictures|1492 Pictures|Revolution Stu...,11/23/2005,6.5,2005
1727,tt0465602,39000000,26820641,Shoot 'Em Up,Clive Owen|Monica Bellucci|Paul Giamatti|Steph...,Michael Davis,Just another family man making a living.,A man named Mr. Smith delivers a woman's baby ...,86,Action|Thriller|Comedy|Crime,New Line Cinema|Angry Films,7/26/2007,6.2,2007

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [23]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget # создаем столбец profit (прибыль)
data.release_date = pd.to_datetime(data.release_date) # разделяем дату релиза
data['release_month'] = data.release_date.dt.month # создаем колнку с месяцем релиза

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [24]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [18]:
# тут пишем ваш код для решения данного вопроса:
# Создаем DataFrame data1 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data1, чтобы остались те фильмы из которых нужно выбрать фильм с самым большим бюджетом
# далее сортируем полученный DataFrame по колонке budget от максимального значения к минимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.
data1 = data.copy() # создаем копию
data1 = data.query('''original_title in ["The Dark Knight Rises", "Spider-Man 3","Avengers: Age of Ultron", "The Warrior's Way", "Pirates of the Caribbean: On Stranger Tides"]''') # фильтруем значения

data1 = data1.sort_values(['budget'],ascending=False).reset_index() # cортируем значения и удаляем индексы
data1.loc[0]['original_title'] # запрашиваем ответ

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [25]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # +

In [21]:
# Создаем DataFrame data2 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data2, чтобы остались те фильмы из которых нужно выбрать фильм с наибольшей длительностью
# далее сортируем полученный DataFrame по колонке runtime от максимального значения к минимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.
data2 = data.copy() # создаем копию
data2 = data2.query('''original_title in ["The Lord of the Rings: The Return of the King", "Gods and Generals", "King Kong", "Pearl Harbor", "Alexander"]''')# фильтруем значения

data2 = data2.sort_values(['runtime'],ascending=False).reset_index() # сортируем значения и удаляем индексы
data2.loc[0]['original_title'] # запрашиваем ответ

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [26]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # +

In [33]:
# Создаем DataFrame data3 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data3, чтобы остались те фильмы из которых нужно выбрать фильм с наименьшей длительностю
# далее сортируем полученный DataFrame по колонке runtime от минимального значения к максимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.

data3 = data.copy() # создаем копию
data3 = data3.query('''original_title in ["Home on the Range", "The Jungle Book 2", "Winnie the Pooh", "Corpse Bride", "Hoodwinked!"]''')# фильтруем значения

data3 = data3.sort_values(['runtime']).reset_index() # cортируем значения и удаляем индексы
data3.loc[0]['original_title'] # запрашиваем ответ

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [27]:
answers['4'] = '2. 110' # +

In [37]:
# Создаем DataFrame data4 для работы над этим заданием, путем копирования оригинального DataFrame Data
# с помощью метода mean() узнаем среднюю длительность фильмов (т.е. среднее значение по колонке runtime)
# и округляем ответ с помощью функции round()

data4 = data.copy() # создаем копию
round(data4.runtime.mean()) #считаем среднее и округляем ответ

110

# 5. Каково медианное значение длительности фильмов?

In [28]:
answers['5'] = '1. 107' # +

In [39]:
# Создаем DataFrame data5 для работы над этим заданием, путем копирования оригинального DataFrame Data
# с помощью метода median() узнаем медианную длительность фильмов (т.е. медианное значение по колонке runtime)
# и округляем ответ с помощью функции round()

data5 = data.copy() # создаем копию
round(data5.runtime.median()) # считаем медиану и округляем ответ

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [29]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)' # +

In [50]:
# Создаем DataFrame data6 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data6, чтобы остались те фильмы из которых нужно выбрать фильм с наибольшей прибылью
# далее сортируем полученный DataFrame по колонке profit от максимального значения к минимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.

data6 = data.copy() # создаем копию
data6 = data6.query('''original_title in ["The Avengers", "Minions", "Star Wars: The Force Awakens", "Furious 7", "Avatar"]''') # фильтруем значения

data6 = data6.sort_values(['profit'],ascending=False).reset_index() # cортируем значения и удаляем индексы
data6.loc[0]['original_title'] # запрашиваем ответ

'Avatar'

# 7. Какой фильм самый убыточный?

In [30]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # +

In [54]:
# Создаем DataFrame data7 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data7, чтобы остались те фильмы из которых нужно выбрать фильм с наименьшей прибылью
# далее сортируем полученный DataFrame по колонке profit от минимального значения к максимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.

data7 = data.copy()# создаем копию
data7 = data7.query('''original_title in ["Supernova", "Frozen", "Flushed Away", "The Adventures of Pluto Nash", "The Lone Ranger"]''') # фильтруем значения

data7 = data7.sort_values(['profit']).reset_index() # cортируем значения и удаляем индексы
data7.loc[0]['original_title'] # запрашиваем ответ

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [31]:
answers['8'] = '1. 1478' # +

In [56]:
# Создаем DataFrame data8 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data8, чтобы остались те фильмы у которых объем сборов оказался выше бюджета (т.е. значение profit > 0)
# далее, с поомщью метода count() запрашиваем колиичество фильмов полученных в результате фильтрации.

data8 = data.copy() # создаем копию
data8 = data8[(data8.profit>0)] # фильтруем значения
data8.imdb_id.count() # запрашиваем ответ

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [32]:
answers['9'] = '4. The Dark Knight (tt0468569)' # +

In [59]:
# Создаем DataFrame data9 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data9, чтобы остались те фильмы которые вышли в 2008 году
# далее сортируем полученный DataFrame по колонке revenue от максимального значения к минимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.

data9 = data.copy() # создаем копию
data9 = data9.query('release_year == 2008') # фильтруем значения
data9 = data9.sort_values(['revenue'],ascending=False).reset_index() # cортируем значения и удаляем индексы
data9.loc[0]['original_title'] # запрашиваем ответ

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [33]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # +

In [63]:
# Создаем DataFrame data10 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data10, чтобы остались те фильмы которые вышли в период с 2012 по 2014 гг. включительно
# далее сортируем полученный DataFrame по колонке profit от минимального значения к максимальному и сбрасываем индексы 
# (что бы было удобно запросить значение отфильтрованного DataFrame) 
# запрашиваем название фильма помещенного после фильтрации и сортировки в первую строку.

data10 = data.copy() # создаем копию
data10 = data10.query('2012 <= release_year <= 2014') # фильтруем значения/
data10 = data10.sort_values(['profit']).reset_index() # cортируем значения и удаляем индексы
data10.loc[0]['original_title'] # запрашиваем ответ

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [34]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama ' # +

In [77]:
# Создаем DataFrame data11 для работы над этим заданием, путем копирования оригинального DataFrame Data
# превращаем жанры (значения в колонке 'genres') в одну строку с разделителем '|'
# далее создаем series разделяя строку по '|'
# считаем колличество элементов и сортируем от максимального значения к минимальному
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data11 = data.copy() # создаем копию
data11 = data11['genres'].str.cat(sep='|') # превращаем все в одну строку
data11 = pd.Series(data11.split('|')) # создаем series разделяя строку по '|'
data11 = data11.value_counts(ascending=False) # считаем количество элементов строке
data11.index[0] # запрашиваем ответ

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [35]:
answers['12'] = '1. Drama' # +

In [80]:
# Создаем DataFrame data12 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data12 по колонке profit, что бы оставить только прибыльные фильмы (т.е. те у которых значение profit>0)
# превращаем жанры (значения в колонке 'genres') в одну строку с разделителем '|'
# далее создаем series разделяя строку по '|'
# считаем колличество элементов и сортируем от максимального значения к минимальному
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data12 = data.copy() # создаем копию
data12 = data12[(data.profit>0)] # фильтруем значения прибыльности фильмов
data12 = data12['genres'].str.cat(sep='|') # превращаем все в одну строку
data12 = pd.Series(data12.split('|')) # создаем series разделяя строку по '|'
data12 = data12.value_counts(ascending=False) # считаем количество элементов строке
data12.index[0] # запрашиваем ответ

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [36]:
answers['13'] = '5. Peter Jackson' # +

In [84]:
# Создаем DataFrame data13 для работы над этим заданием, путем копирования оригинального DataFrame Data
# создаем множество directors состоящее из имен режиссеров
# далее создаем series directors_13 используя цикл, проходящий мо мнжеству directors и считаем колличество значений
# запрашиваем название индекса [0]у series directors_13, который и будет ответом

data13 = data.copy() # создаем копию
directors = set(data13.director.str.split('|').sum()) # создаем множество 
directors_13 = pd.Series({x: data13[data13.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False) # создаем Series 
directors_13.index[0] # запрашиваем ответ

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = '3. Robert Rodriguez' # +

In [86]:
# Создаем DataFrame data14 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data14 по колонке genres, что бы оставить только те фильмы которые содержат жанр Action
# превращаем режиссеров (значения в колонке 'director') в одну строку с разделителем '|'
# далее создаем series разделяя строку по '|'
# считаем колличество элементов и сортируем от максимального значения к минимальному
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data14 = data.copy()# создаем копию
data14 = data14[data14.genres.str.contains("Action")] # фильтруем значение
data14 = data14['director'].str.cat(sep='|') # превращаем все в одну строку
data14 = pd.Series(data14.split('|')) # создаем Series разделяя строку по '|'
data14 = data14.value_counts(['revenue'], ascending=False) # считаем количество элементов строке
data14.index[0] # запрашиваем ответ

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth' # +

In [91]:
# Создаем DataFrame data15 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data15 по колонке release_year, что бы оставить только те фильмы которые вышли в 2012 году
# далее раздляем актеров, помещяя их имена в строки, после чего разделяем строки чтобы у каждого имени актера было 
# одно название фильма
# делаем сводную таблицу по именам актеров и сумме сборов
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data15 = data.copy()# создаем копию
data15 = data15[data15.release_year == 2012] # фильтруем значение
data15['cast'] = data15['cast'].str.split('|') # превращаем в одну строку
data15 = data15.explode('cast') # разделяем строки 
data15 = data15.groupby(['cast'])['revenue'].sum().sort_values(ascending=False) # делаем сводную таблицу и считаем сумму сборов
data15.index[0] # запрашиваем ответ

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. Matt Damon' # +

In [95]:
# Создаем DataFrame data16 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data16 по колонке budget, что бы оставить только те фильмы у которых бюджет больше чем среднее значение
# далее раздляем актеров, помещяя их имена в строки, после чего разделяем строки чтобы у каждого имени актера было 
# одно название фильма
# делаем сводную таблицу по именам актеров и колличеству фильмов
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data16 = data.copy()# создаем копию
data16 = data16[data16.budget > data16.budget.mean()] # фильтруем значение
data16['cast']= data16['cast'].str.split('|') # превращаем в одну строку
data16 = data16.explode('cast') # разделяем строки 
data16 = data16.groupby(['cast'])['budget'].count().sort_values(ascending=False) # делаем сводную таблицу и считаем колличество
data16.index[0] # запрашиваем ответ

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
answers['17'] = '2. Action' # +

In [98]:
# Создаем DataFrame data17 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data17 по колонке cast, что бы оставить только те фильмы в которых снимался "Nicolas Cage"
# далее раздляем актеров, помещяя их имена в строки, после чего разделяем строки чтобы у каждого имени актера было 
# одно название фильма. После этого снова фильтруем значения data17 по колонке cast, что бы оставить только те строки 
# в которых актером указан "Nicolas Cage"
# далее далее раздляем жанры, помещяя их в строки, после чего разделяем строки чтобы у каждого жанра было 
# одно название фильма.
# делаем сводную таблицу по жанрам и колличеству фильмов
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data17 = data.copy()# создаем копию
data17 = data17[data17.cast.str.contains("Nicolas Cage")] # фильтруем значение
data17['cast'] = data17['cast'].str.split('|') # превращаем в одну строку
data17 = data17.explode('cast') # разделяем строки 
data17 = data17[data17.cast.str.contains("Nicolas Cage")] # фильтруем значение
data17['genres'] = data17['genres'].str.split('|') # превращаем в одну строку
data17 = data17.explode('genres') # разделяем строки 
data17 = data17.groupby(['genres'])['revenue'].count().sort_values(ascending=False) # делаем сводную таблицу и считаем колличество
data17.index[0] # запрашиваем ответ

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # +

In [107]:
# Создаем DataFrame data18 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значения data18 по колонке profit, что бы оставить только те фильмы в которых по итогам проката был убыток
# далее раздляем кинокомпании, помещяя их имена в строки, после чего разделяем строки чтобы у каждого названия компании было 
# одно название фильма. После этого снова фильтруем значения data18 по колонке production_companies, что бы оставить 
# только те строки в которых компанией указана Paramount Pictures 
# Затем соритруем фильмы по значению profit от минимума к максимому и удаляем индексы
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data18 = data.copy() # создаем копию
data18 = data18[(data18.profit < 0)] # фильтруем значение
data18['production_companies'] = data18['production_companies'].str.split('|') # создаем строки
data18 = data18.explode('production_companies') # разделяем строки
data18 = data18[data18.production_companies.str.contains("Paramount Pictures")] # фильтруем значения второй раз
data18 = data18.sort_values(['profit']).reset_index() # cортируем значения и удаляем индексы
data18.loc[0]['original_title'] # запрашиваем ответ

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '5. 2015' # +

In [109]:
# Создаем DataFrame data19 для работы над этим заданием, путем копирования оригинального DataFrame Data
# делаем сводную таблицу по году выпуска и сумме сборов, и сортируем значения от максимума к минимумум
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data19 = data.copy() # создаем копию
data19 = data19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False) # делаем сводную таблицу и считаем сумму
data19.index[0] # запрашиваем ответ

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [43]:
answers['20'] = '1. 2014' # +

In [111]:
# Создаем DataFrame data20 для работы над этим заданием, путем копирования оригинального DataFrame Data
# далее раздляем кинокомпании, помещяя их имена в строки, после чего разделяем строки чтобы у каждого названия компании было 
# одно название фильма. После этого снова фильтруем значения data20 по колонке production_companies, что бы оставить 
# только те строки в которых компанией указана Warner Bros 
# Затем делаем сводную таблицу по году выпуска и сумме сборов, и сортируем значения от максимума к минимумум
# запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data20 = data.copy() # создаем копию
data20['production_companies'] = data20['production_companies'].str.split('|') # создаем строки
data20 = data20.explode('production_companies') # разделяем строки
data20 = data20[data20.production_companies.str.contains("Warner Bros")] # фильтруем значение
data20 = data20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False) #делаем сводную таблицу и считаем сумму
data20.index[0] # запрашиваем ответ

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [44]:
answers['21'] = '4. Сентябрь' # +

In [120]:
# Создаем DataFrame data21 для работы над этим заданием, путем копирования оригинального DataFrame Data
# Затем делаем сводную таблицу по месяцу выпуска и колличеству строк (относительно месяца), и сортируем значения от 
# максимума к минимумум. запрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data21 = data.copy() # создаем копию
data21 = data21.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False) #делаем сводную таблицу и считаем колличество
data21.index[0] # запрашиваем ответ

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [45]:
answers['22'] = '2. 450' # +

In [121]:
# Создаем DataFrame data22 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значение data22 по колонке release_month, что бы получить только те фильмы,
# которые выходят летом
# запрашиваем колличество строк в data22, который и будет ответом на поставленный вопрос

data22 = data.copy() # создаем копию
data22 = data22.loc[data22['release_month'].isin(['6','7','8'])] # фильтруем значения
data22.imdb_id.count() # запрашиваем ответ

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [46]:
answers['23'] = '5. Peter Jackson' # +

In [122]:
# Создаем DataFrame data23 для работы над этим заданием, путем копирования оригинального DataFrame Data
# фильтруем значение data23 по колонке release_month, что бы получить только те фильмы,
# которые выходят зимой, Затем делаем сводную таблицу по режиссеру  и колличеству строк, и сортируем значения от 
# максимума к минимумум.
# хапрашиваем название индекса [0], который и будет ответом на поставленный вопрос

data23 = data.copy() # создаем копию
data23 = data23.loc[data23['release_month'].isin(['1','2','12'])] # фильтруем значения
data23 = data23.groupby(['director'])['imdb_id'].count().sort_values(ascending=False)  #делаем сводную таблицу и считаем колличество
data23.index[0] # запрашиваем ответ

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [47]:
answers['24'] = '5. Four By Two Productions' # +

In [128]:
# Создаем DataFrame data24 для работы над этим заданием, путем копирования оригинального DataFrame Data
# создаем столбец title_length с длинной названия,
# создаем список companies содержащий уникальное название компаний
# создаем Series sum_gen для хранения рседних значений
# далее с помощью цикла по всему датафрейму для каждой из компаний вычислим среднее 
# значение для всех названий фильмов созданных компанией
# отсортируем значения и запросим ответ

data24 = data.copy() # создаем копию
data24['title_length'] = data24['original_title'].map(lambda x: len(x)) # создадим столбец с длиной названия
companies = data24['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний
sum_gen = pd.Series(dtype='float64', index=companies) # создадим Series для хранения средних значений

# цикл вычисляющий среднее значение для всех названий фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data24['title_length'][data24['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_gen = sum_gen.sort_values(ascending=False) # отсортируем значения
sum_gen.index[0] # запрашиваем ответ

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [48]:
answers['25'] = '3. Midnight Picture Show' # +

In [130]:
# Создаем DataFrame data25 для работы над этим заданием, путем копирования оригинального DataFrame Data
# создаем столбец overview_length с длинной описания с помощью lambda функции,
# создаем список companies содержащий уникальное название компаний
# создаем Series sum_gen для хранения рседних значений
# далее с помощью цикла по всему датафрейму для каждой из компаний вычислим среднее 
# значение для всех описаний фильмов созданных компанией
# отсортируем значения и запросим ответ

data25 = data.copy()# создаем копию
data25['overview_length'] = data25['overview'].map(lambda x: len(x)) # создадим столбец с длиной описания
companies = data25['production_companies'].str.split('|').explode().unique() # получим список уникальных названий компаний
sum_gen = pd.Series(dtype='float64', index=companies) # создадим Series для хранения средних значений

# цикл вычисляющий среднее значение для всех описаний фильмов созданных компанией
for comp in companies:
    sum_gen[comp] = data25['overview_length'][data24['production_companies'].map(lambda x: True if comp in x else False)].mean()

sum_gen = sum_gen.sort_values(ascending=False) # отсортируем значения
sum_gen.index[0] # запрашиваем ответ

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [49]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave ' # +

In [8]:
# Создаем DataFrame data26 для работы над этим заданием, путем копирования оригинального DataFrame Data
# создаем переменную  one_perc_best определяющую сколько фильмов входит в 1%,
# сортируем значения по рейтингу и далее оставляем те,среди которых надо определить, входят ли они в 1% лучших по рейтингу
# запрашиваем колонку с названиями фильмов, которые остались - это и будет ответ

data26 = data.copy() # создаем копию
one_perc_best = data26.imdb_id.count() // 100 # считаем 1%

data26 = data26.sort_values(['vote_average'], ascending=False).head(one_perc_best) # сортируем значения

data26 = data26.query('''original_title in ["Inside Out", "The Dark Knight", "12 Years a Slave", "BloodRayne" , "The Adventures of Rocky & Bullwinkle","Batman Begins" , "The Lord of the Rings: The Return of the King" , "Upside Down", "300" , "Lucky Number Slevin" , "Kill Bill: Vol. 1", "Upside Down", "Inside Out", "Iron Man"]''') # ищем фильмы
data26.original_title # запрашиваем ответ

599                                   The Dark Knight
9                                          Inside Out
1191                                 12 Years a Slave
1081    The Lord of the Rings: The Return of the King
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [50]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # +

In [22]:
# Создаем DataFrame data27 для работы над этим заданием, путем копирования оригинального DataFrame Data
# создаем списки с актерами, разделяя их
# с помощью лямбда функции, используем метод combinations функции iterations и ищем все повторяющиеся пары актеров
# с помощью explode преобразуем каждый элемент списка в строку и с помощью cast.mode() выводим наиболее распространенные элементы

data27 = data.copy() # создаем копию 
data27['cast'] = data27.cast.str.split('|') # разделяем актеров по именам, для дальнейшей работы

data27.cast = data27.cast.apply(lambda x: list(it.combinations(sorted(x), 2))) # создаем пары

data27.explode('cast').cast.mode() # выводим ответ

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
2         (Emma Watson, Rupert Grint)
dtype: object

# Submission

In [51]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama ',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [52]:
# и убедиться что ни чего не пропустил)
len(answers)

27